custom-mgc/*

params.yaml

# Ignore any output folder created on run time
**output/*.parquet
output/processed.csv

# Ignore all .ipynb_checkpoints folders anywhere in the project
**/.ipynb_checkpoints/

# Ignore all __pycache__ folders anywhere in the project
**/__pycache__/

# Ignore pytest debug log file
pytestdebug.log

**/output/

/reports
.pdf
.html

report.json